
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-size: 16px;
  padding-top: 90px;
  @media(max-width: 1500px) {
    padding-top: 70px;
  }
}
h1 {
  font: 48px 'Gothic Regular';
}
h2 {
  font: 36px 'Gothic Regular';
  margin-bottom: 25px;
  color: #FFF;
  &:after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: $accent;
    margin: 25px auto 0;
  }
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

.section {
  padding: 60px 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.dark {
  background: #0e1116;
  color: #FFF;
}
.dark-text {
  color: $text;
}
.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -15px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 15px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}